@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 16px;
  padding: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 4px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, .3);
  border: 4px solid transparent;
  background-clip: padding-box;
  min-height: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsla(0, 0%, 100%, .4);
  border: 4px solid transparent;
  background-clip: padding-box;
}

/* Hide scrollbar when not hovering */
.overflow-auto {
  scrollbar-width: auto;
  scrollbar-color: hsla(0, 0%, 100%, .3) transparent;
}

/* For Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: hsla(0, 0%, 100%, .3) transparent;
}

/* Add any custom CSS here */

/* Add these transition styles */
.step-transition {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.step-enter {
  opacity: 0;
  transform: translateX(20px);
}

.step-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.step-exit {
  opacity: 1;
  transform: translateX(0);
}

.step-exit-active {
  opacity: 0;
  transform: translateX(-20px);
} 